html,
body {
  height: 100%;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
html {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  width: 800px;
}
canvas {
  background-color: pink;
  display: none;
  /* width: 100%; */
  /* height: 100%; */
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
  border: 1px solid black;
}

.first_landing_container {
  display: none;
}

.first_landing {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.first_landing .title {
  font-size: xx-large;
  font-weight: 600;

  margin-bottom: 40px;
}

.choice_image_landing_container {
  display: none;
  width: 100%;
  height: 100%;
}

.choice_image_landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 100%;
  overflow: scroll;
}

.choice_image_landing .title {
  font-size: xx-large;
  font-weight: 600;

  padding: 20px 0;
}

.choice_image_landing .image_list {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  padding: 0;
}

.choice_image_landing .image_list .image_item {
  cursor: pointer;
  transition: 500ms;

  margin: 0 10px;
}

.choice_image_landing .image_list .image_item:hover {
  transform: scale(1.2);
}

.choice_image_landing .image_list .image_item .no-image,
.choice_image_landing .image_list .image_item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  background-color: lightGray;

  display: flex;
  align-items: center;
  justify-content: center;
}

.visible {
  display: block !important;
}
